*{
    margin: 0px;
}
body{
    background-color: rgb(221, 218, 215) ;
    height: 100%;

}
header{
    text-align: center;
}
.tablaDetalles{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
}