
.contenedor-login{
 display: flex;
 background-color: rgb(156, 212, 226);
 border: 10px solid rgb(112, 223, 127);
justify-content: flex-start;
align-items: center;
width: 350px;
height: 300px;
font-size: 30px;
flex-direction: column;
margin: 150px 300px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 79, 79);

}

.login-box{
    margin: auto;
    text-align: center
    
}
#submitboton{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
