body{
    background-color: rgb(189, 226, 185);
}
*{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.productos{
    width: 200px;
    height: 200px;
}
.contenedorTienda{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}
.apartadoBotones{
    background: rgb(142,5,176);
    background: linear-gradient(90deg, rgba(142,5,176,1) 0%, rgba(172,92,201,1) 0%, rgba(49,48,66,1) 0%, rgba(69,186,58,1) 100%, rgba(52,59,51,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 175%, rgba(68,233,53,1) 175%);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.contenedorElementos{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 60%;
    align-items: center;   
    margin-right: 20px;
     
}

header{
    color: white;
    background: rgb(142,5,176);
    background: linear-gradient(90deg, rgba(142,5,176,1) 0%, rgba(172,92,201,1) 0%, rgba(129,125,203,1) 0%, rgba(26,252,5,1) 100%, rgba(132,164,123,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 175%, rgba(68,233,53,1) 175%);
    text-align: center;
    padding: 8px;
}
footer{
    background: rgb(142,5,176);
background: linear-gradient(90deg, rgba(142,5,176,1) 0%, rgba(172,92,201,1) 0%, rgba(129,125,203,1) 0%, rgba(26,252,5,1) 100%, rgba(132,164,123,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 100%, rgba(68,233,53,1) 175%, rgba(68,233,53,1) 175%);
    text-align: center;
}
.apartado{
    border: 5px solid rgb(13, 177, 27);
    border-radius: 14px;
    background-color: green;
    width: 150px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    cursor: pointer;

}

#buzon{
    position: fixed;
    top: 300px;    
    right: 20px;   
    background-color: rgb(103, 207, 117);
    padding: 50px;

}
input[type = "text"]{
    height: 90px;

}
#enviarBoton{
    background-color: rgb(45, 212, 45);
    width: 190px;
    font-size: 15px;
    height: 40px;
    border-radius: 4px;

}
.contenedorElementos > article{
    background-color: white;

}